.todos {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;

    & .todos-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3%;

        & label {
            display: flex;
            flex-direction: column;

            & input {
                border-radius: 5px;
                border: none;
                width: 100%;
                padding: 5px 10px;
                outline: none;
                font-size: 22px;
                margin-right: 15px;
                font-weight: 200;
            }

            & span {
                margin-bottom: 5px;
                color: #fff;
            }
        }

        & .actions-add {
            margin-top: 23px;

            & input {
                border-radius: 5px;
                border: none;
                padding: 5px 10px;
                outline: none;
                font-size: 22px;
                margin-right: 15px;
                font-weight: 200;
            }

            & button {
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid #fff;
                outline: none;
                background: none;
                color: #fff;
                letter-spacing: 1px;
                text-transform: uppercase;
                padding: 15px 30px;
                font-size: 20px;

                &:hover {
                    transition: .1s;
                    color: teal;
                    background-color: #fff;
                }
            }
        }


    }

    & .todos-item {
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 5px 10px;
        border: 1px solid #fff;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .item-complete {
            color: #fff;
            outline: none;
            border: none;
            font-size: 20px;
            padding: 5px 10px;
            background: none;
            cursor: pointer;

            &:hover {
                transition: .1s;
                font-weight: bold;
                transform: scale(1.1);
            }
        }

        & .completed {
            color: #fff;
            outline: none;
            border: none;
            font-size: 20px;
            padding: 5px 10px;
            background: none;
            color: #939393;
            cursor: pointer;

            &:hover {
                color: red;
            }
        }
    }
}